name: Run PHPStan
on:
  workflow_call:
    secrets:
      env:
        required: false
    inputs:
      extensionName:
        description: "Your extension name"
        required: true
        type: string
      onlishopVersion:
        description: |
          With the default `.auto`, the workflow tries to find a onlishop version using the onlishop-version action.

          For example, if the current ref is next-1234, it will try to find the ref next-1234 in onlishop/onlishop. If there's no matching ref, it will use onlishopVersionFallback
        required: false
        type: string
        default: ".auto"
      onlishopVersionFallback:
        required: false
        type: string
        default: trunk
      onlishop-repository:
        description: The onlishop repository to checkout
        type: string
        default: onlishop/onlishop
      composerRootVersion:
        required: false
        type: string
        default: ".auto"
      dependencies:
        required: false
        type: string
      runner:
        required: false
        type: string
        default: ubuntu-latest
env:
  ONLISHOP_TOOL_CACHE_PHPSTAN: ${{ github.workspace }}/var/phpstan

jobs:
  run:
    name: Static Analyse
    runs-on: ${{ inputs.runner }}
    steps:
      - uses: onlishop/github-actions/onlishop-version@main
        with:
          fallback: ${{ inputs.onlishopVersionFallback }}
          repo: ${{ inputs.onlishop-repository }}
        id: version
        if: ${{ inputs.onlishopVersion == '.auto' || inputs.onlishopVersion == '' }}
      - name: Setup Onlishop
        uses: onlishop/setup-onlishop@main
        with:
          onlishop-version: ${{ steps.version.outputs.onlishop-version || inputs.onlishopVersion }}
          onlishop-repository: ${{ inputs.onlishop-repository }}
          composer-root-version: ${{ inputs.composerRootVersion }}
          php-version: 8.2
          env: prod
          install: "true"
      - name: Clone Extension
        uses: actions/checkout@v6
        with:
          path: custom/plugins/${{ inputs.extensionName }}
      - name: Clone Dependencies
        if: inputs.dependencies
        env:
          DEPS: ${{ inputs.dependencies }}
        run: |
          IFS=$'\n'
          for token in $(echo "${{secrets.env}}"); do
            export $token
          done
          for dep in $(echo "$DEPS" | envsubst | jq -c '.[]'); do
            dep_name=$(echo "$dep" | jq -r '.name')
            dep_repo=$(echo "$dep" | jq -r '.repo')
            git clone "$dep_repo" "custom/plugins/$dep_name"
          done
      - name: Install dependencies with Composer
        if: inputs.dependencies
        env:
          DEPS: ${{ inputs.dependencies }}
        run: |
          IFS=$'\n'
          for dep in $(echo "$DEPS" | envsubst | jq -c '.[]'); do
            dep_name=$(echo "$dep" | jq -r '.name')
            composer require $(composer -d "custom/plugins/$dep_name" config name)
          done
      - name: Install extension with Composer
        run: composer require $(composer -d custom/plugins/${{ inputs.extensionName }} config name)
      - name: Create phpstan.neon
        working-directory: custom/plugins/${{ inputs.extensionName }}
        run: |
          printf "parameters:\n  tmpDir: ${{ env.ONLISHOP_TOOL_CACHE_PHPSTAN }}\nincludes:\n  - phpstan.neon.dist" > phpstan.neon
      - name: PHPStan cache
        uses: actions/cache@v4
        with:
          path: ${{ env.ONLISHOP_TOOL_CACHE_PHPSTAN }}
          key: ${{ runner.OS }}-${{ github.repository }}-phpstan-${{ github.sha }}
          restore-keys: |
            ${{ runner.OS }}-${{ github.repository }}-phpstan-
      - name: Refresh
        run: bin/console plugin:refresh
      - name: Install extension dependencies
        if: inputs.dependencies
        run: |
          IFS=$'\n'
          for dep in $(echo "$DEPS" | envsubst | jq -c '.[]'); do
            dep_name=$(echo "$dep" | jq -r '.name')
            bin/console plugin:install --activate $dep_name
          done
      - name: Install Extension
        run: bin/console plugin:install --activate ${{ inputs.extensionName }}
      - name: Build PHPStan Bootstrap
        run: php ${{ github.workspace }}/src/Core/DevOps/StaticAnalyze/phpstan-bootstrap.php
      - name: Run PHPStan
        working-directory: custom/plugins/${{ inputs.extensionName }}
        run: ${{ github.workspace }}/vendor/bin/phpstan analyze --error-format=github --no-progress
